@mixin widthCenter {
  margin: auto;
  width: 60%;
}
@mixin lineWord {
  &::before,
  &:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 14%;
  }
  &::before {
    right: 0.5em;
  }
}

.menu-box {
  margin: auto;
  width: 70%;

  &__title {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 2vw;
    width: 10vw;

    &:after {
      content: "";
      flex: 1 1;
      border-bottom: 0.2vw solid;
      margin: auto;
    }

    &:after {
      margin-left: 10px;
    }
  }
  &__inner-box {
    @include widthCenter();
    flex-direction: column;
    display: flex;
    gap: 6vw;
    align-items: center;
  }
  &__img-box {
    display: flex;
    gap: 2vw;
    @include widthCenter();
  }
  &__btn {
    padding: 0.5vw 2vw;
  }
  &__btn-wrapper {
    display: flex;
    gap: 2vw;
    padding: 2vw;
    justify-content: center;
  }
}
.img-box {
  &__name-pages {
    display: flex;
    font-size: 1.3vw;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    @include lineWord();
  }
}
@media screen and (max-width: 425px) {
  .menu-box {
    width: 100%;
    &__title {
      display: none;
    }
    &__inner-box {
      flex-direction: column;
    }
    &__img-box {
      flex-direction: column;
    }
  }
  .img-box {
    &__photo {
      width: 60vw;
    }
  }
}
